<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Params</title>
  </head>
  <body>
    
    <!-- For sendding parameters in a clickable element -->
    <ul>
        <li> <a th:href="@{/params/string(text='Hola Mundo')}">Hola Mundo</a></li>
        <li> <a th:href="@{/params/string(text='Hola Miguel')}">Hola Miguel</a></li>
        <li> <a th:href="@{/params/multi-params(text='Hola Miguel', number=65)}">Hola Miguel 65</a></li>
    </ul>
  </body>
</html>
